.navtop {
    background-color: inherit;
    max-width: 100vw;
    width: 100%;
    background-color: #2d2e32;
}


.navtop h3{
    font-weight: 600;
}
/* 
.navtop{
    -webkit-box-shadow: 0px 0px 10px 1px #383838;
    box-shadow: 0px 1px 10px 1px #4e4e4e59;
} */

.profile-picture {
    max-height: 40px;
    max-width: 40px;
    clip-path: circle();
    padding: 3px
}

.navtop a {
    font-weight: 500;

}

.navtop a i{
    padding-top: 0.15rem!important;
    color:#6ad1cf
}

.navtop a:hover {
    color: #6ad1cf!important;
    background-color: #383838;
    cursor: pointer
}

.navtop button{
    width: 30px!important;
    background-color: transparent!important;
    border: none;
    color: white!important
}

@media (max-width: 767.98px){
    .navtop nav ul{
        display:flex!important;
        flex-direction: column!important;
        position: fixed;
        width: 100%;
        top: 64px;
        right: 0px;
        background: #2d2e32;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .navtop nav ul.active{
        height: calc(100vh - 64px); 
        visibility: visible;
        overflow-y: hidden;
    }

    .navtop a{
        font-size: 1.5em;
        padding: 2em 0;
        border-bottom: 1px solid #3c4043!important;
    }
}