.contact{
    text-decoration: none;
    border: 2px solid white;
    padding: 0.5rem 1rem;    
    font-weight: 700;
    border-radius: 3px;
    transition: 500ms;
    font-size: large;
}

.contact:hover{
    text-decoration: none;
    border-color:#6ad1cf;
    background-color: #6ad1cf;
    color: #212529;
}